.discover-container {
  color: #fff;
  text-transform: uppercase;
  padding: 8em 5rem;
  hr {
    background-image: radial-gradient(circle, rgba(210, 208, 208, 0.1909138655) 0%, rgba(210, 208, 208, 0) 90%);
    border: none;
    height: 2px;
    margin: 3rem 0rem;
  }
}