.ItemTrailers {
    &-headername {
        color: #fff;
        text-align: left;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.4rem;
    }
    margin: 0 4rem;
    iframe {
    }
}